<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_kJKhN7KM88B-HZTLgKrI9BcoKfrlG_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>32441279740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travl</string>
	<key>PROJECT_ID</key>
	<string>cinehub-mv</string>
	<key>STORAGE_BUCKET</key>
	<string>cinehub-mv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32441279740:ios:3da7f42e142f8f55e72379</string>
</dict>
</plist>